header {
  background: linear-gradient(to bottom right, white, rgb(245,199,98));
  height: 400px;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  header{
    height: 380px;
  }
}

main {
  max-width: 80%;
  margin: 30px auto;
  padding: 0 25px;
}

html {
  scroll-behavior: smooth;
}
